.label {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
}

button {
  margin-left: 50px;
  color: black;
  background-color: white;
}

.input-text {
  width: 70%;
  padding: 10px 14px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3;
  color: black;
}
